.order-steps{
    padding: 50px 20px;
    min-height: 60vh;
    min-height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    background-color: #fbfdfd;
    border-radius: 50px 50px 0 0;
}
.steps-container{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    flex-grow: 280px;
}
.head-steps{
    text-align: center;
    display: block;
}
.head-steps h2{
    font-weight: 800;
    position: relative;
}
.head-steps h2::after{
    text-align: center;
    position: absolute;
    content: "";
    top: 100%;
    right: 0%;
    width: 40%;
    height: 3px;
    border-radius: 50px;
    background:var(--orange-second);
}
.step img{
    width: 280px;
}

/* -------------------------------  responsive --------------------------- */



@media only screen and (max-width: 780px) {
    .step img{
        width: 222px;
    }
}